.plugin {
    margin: 1em;

    border: 1px;
}

.plugin-title {
    font-weight: 600;
}

.plugin-author {
    font-style: italic;
}

.plugin-description {
    font-style: normal;
}

.plugin:hover {
    background-color: rgb(220, 220, 220);
}

.carousel-retain-aspect {
	max-width: 100%;
	width: auto;
	height: auto;
	vertical-align: middle;
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
 }

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.plugin-header {
    background-image: linear-gradient(to bottom, rgb(200, 255, 200), white 99%);
}

.bg-semi-light {
    background-color: rgb(220, 220, 220);
}